/*!
 * Based on: LaTeX.css (https://latex.now.sh/)
 *           Source: https://github.com/vincentdoerig/latex-css
 *           Licensed under MIT (https://github.com/vincentdoerig/latex-css/blob/master/LICENSE)
 * Modified by Sivert Hellvik Havso (hello@sivert.io)*/

/*Fonts*/
@font-face {
  font-family: 'Charis SIL';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/CharisSIL-R.woff2') format('woff2');
}

@font-face {
  font-family: 'Charis SIL';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/CharisSIL-I.woff2') format('woff2');
}

@font-face {
  font-family: 'Charis SIL';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/CharisSIL-B.woff2') format('woff2');
}

@font-face {
  font-family: 'Charis SIL';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/CharisSIL-BI.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('./fonts/Montserrat-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('./fonts/Montserrat-BoldItalic.woff2') format('woff2');
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
p {
  margin: 0;
}

/* Make default font-size 1rem and add smooth scrolling to anchors */
html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background-color: hsl(210, 20%, 98%);
  color: hsl(0, 5%, 10%);

  font-family: 'Montserrat', sans-serif;
  font-variant-ligatures: normal;
  line-height: 1.8;

  margin: 5rem auto;
  max-width: 75ch;
  min-height: 75vh;

  overflow-x: hidden;
  padding: 0.5rem 1.25rem;

  text-rendering: optimizeLegibility;
}

/* Justify and hyphenate all paragraphs */
p {
  hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  
  margin-top: 1rem;

  text-align: justify;
  text-justify: inter-word;
}

/* Make links red */
a,
a:visited {
  color: #843922;
  text-decoration: none;
}

/* Make links gray on hover*/
a:hover {
  color: #555;
}

/* Prevent textarea from overflowing */
textarea {
  width: 100%;
}

/* Center align the header */
header * {
  text-align: center;
  font-variant-caps: small-caps;
}

/* Add vertical spacing  */
.author {
  margin: 0.85rem;
}

.overview {
  margin-top: 5rem;
}

/* Heading typography */
h1,
h2 {
  font-family: 'Charis SIL', serif;
  font-weight: normal; 
  color: rgb(89, 49, 143);

}

h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.8rem;
  font-variant: small-caps;
}

/*Add horizontal line styling*/
hr {
  opacity:0.15;
  margin-top: -0.5em;
}